[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynvim = "*"
numpy = "*"
ipython = "*"
gymnasium = {version = "*", extras = ["toy_text"]}

[dev-packages]

[requires]
python_version = "3.10"
